* {
  margin:0;
  padding:0;
  border:0;
}
.app-view { margin-top: 20px; }

.filter-view {
  margin-bottom: 15px;
}
.filter-view a {
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
}

.form-view { margin-bottom: 15px; }

.users-view {}
.users-view ul { list-style: none; }

.user-view {
  height: 30px;
  border: 1px solid gray;
}

.active {
  color: green;
}

.inactive {
  color: gray;
}
