{erl_opts, [
  {parse_transform, lager_transform},
  debug_info, fail_on_warning
]}.

{deps, [
  {lager, ".*",
    {git, "git@github.com:basho/lager.git", "master"}},
  {cowboy, ".*",
    {git, "git@github.com:extend/cowboy.git", "master"}},
  {bullet, ".*",
    {git, "git@github.com:extend/bullet.git", "master"}},
  {jsx, ".*",
    {git, "git@github.com:talentdeficit/jsx.git", "develop"}},
  {gproc, ".*",
    {git, "git@github.com:uwiger/gproc.git", "master"}},
  {uuid, ".*",
    {git, "git@github.com:avtobiff/erlang-uuid.git", "master"}},
  {sync, ".*",
    {git, "git@github.com:rustyio/sync.git", "master"}}
]}.
